<header class="masthead text-white d-flex" id="home">
    <div class="container h-100 my-auto">
        <div class="row align-items-center h-100 text-center-sm">
            <div class="col-md-6 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Balcony inspection vents</strong>
                </h1>
                <hr>
                <p class="mb-5">Easily and regularly inspect balconies and decks.</p>
                <div class="header-btn-group">
                    <a class="btn btn-primary btn-xl js-scroll-trigger header-btn" href="#about">Learn more</a>
                    <a class="btn btn-light btn-xl js-scroll-trigger header-btn" href="#contact">Contact us</a>
                </div>
            </div>
            <div class="col-md-6 mx-auto">
                <img src="<%= assets %>/balcony-main-1.png" alt="Balcony inspection vents" class="img-fluid mx-auto d-block balcony-img">
            </div>
        </div>
    </div>
</header>
