<header class="masthead text-white d-flex" id="home">
    <div class="container h-100 my-auto">
        <div class="row align-items-center h-100">
            <div class="col-md-6 mx-auto">
                <h1 class="text-uppercase">
                    <strong>Balcony inspection vents</strong>
                </h1>
                <hr>
                <p class="mb-5">Easily and regularly inspect balconies and decks.</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Learn more</a>
            </div>
            <div class="col-md-6 mx-auto">
                <img src="<%= assets %>/balcony-main-1.png" alt="Balcony img 1" class="img-fluid mx-auto d-block">
            </div>
        </div>
    </div>
</header>
