<header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h1 class="text-uppercase">
              <strong>Balcony inspection vents</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="mb-5">Easily and regularly inspect balconies and decks.</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Learn more</a>
          </div>
        </div>
      </div>
</header>
