<section class="bg-primary padding-top-80 padding-bottom-80 about" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Under balcony ventilated inspection system</h2>
                <hr class="light my-4">
                <p class="text-white mb-4">
                    Balcony Inspection Vents are a patent pending inspection system that you can install on the underside
                    of your balconies and decks. Once installed, the ventilated
                    strips and panels provide easy access to your balcony or deck
                    joists making inspections quick and painless.
                </p>
                <p class="text-white mb-4">
                  Existing balconies and decks can be retrofitted to incorporate our vent system.
                </p>
                <p class="text-white mb-4">
                    California <a href="https://leginfo.legislature.ca.gov/faces/billNavClient.xhtml?bill_id=201720180SB721"
                        target="_blank">Senate Bill No. 721</a> requires inspections
                    of wooden exterior elevated elements, including balconies and
                    decks, every 6 years. Balcony Inspection Vents make compliance
                    with SB-721 easy and affordable.
                </p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#contact">Contact us</a>
            </div>
        </div>
    </div>
</section>
