<section id="how-it-works" class="padding-top-80 padding-bottom-80">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-search text-primary mb-3 sr-icon-1"></i>
                    <h2 class="mb-3">Inspect</h2>
                    <p class="text-muted mb-0">Easy access to conduct visual inspections.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-wrench text-primary mb-3 sr-icon-2"></i>
                    <h2 class="mb-3">Ventilate</h2>
                    <p class="text-muted mb-0">Avoid rot, mold and mildew due to restricted airflow.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-clipboard text-primary mb-3 sr-icon-3"></i>
                    <h2 class="mb-3">Comply</h2>
                    <p class="text-muted mb-0">Adhere to city and state laws regarding balcony and deck inspections.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-fire text-primary mb-3 sr-icon-4"></i>
                    <h2 class="mb-3">Protect</h2>
                    <p class="text-muted mb-0">Fire, ember and bug resistant.</p>
                </div>
            </div>
        </div>
    </div>
</section>
