<section id="features" class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background: url('<%= assets %>/feature_1.jpg') no-repeat center center; background-size:cover;"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Inspectability</h2>
                <p class="lead mb-0">
                    Our ventilated access strips offer easy access to the underside of a balcony or
                    external extremity. This allows you to inspect the balcony
                    for mold or rot without damaging or removing the soffit.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('<%= assets %>/feature_2.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Ventilation</h2>
                <p class="lead mb-0">
                    Lack of efficient ventilation may cause wooden joists to mold and rot. Balcony
                    Inspection Vents provide a level of airflow and ventilation
                    that will help prevent mold, rot and mildew from eroding the
                    balcony's structural integrity.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('<%= assets %>/feature_3.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Compliance</h2>
                <p class="lead mb-0">
                    Regular balcony inspections are fast becoming city and state law throughout the
                    US. However, compliance does not have to be difficult or expensive.
                    Our ventilation strips and panels offer easy inspection access
                    to the underside of a balcony making compliance simple.
                </p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('<%= assets %>/feature_4.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Flame and bug resistent</h2>
                <p class="lead mb-0">
                </p>
            </div>
        </div>
    </div>
</section>
