<section id="contact" class="padding-top-80 padding-bottom-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Contact us</h2>
                <hr class="my-4">
                <p class="mb-5">Need more info or want to place an order? That's great! Give us
                    a call or send us an email.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
                <p>
                    <a href="mailto:your-email@your-domain.com">info@inspectionvents.com</a>
                </p>
            </div>
        </div>
    </div>
</section>
