<section class="bg-primary padding-top-40 padding-bottom-40">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center text-white">
            <h2 class="mb-4">Want to learn more?</h2>
          </div>
        </div>
        <form>
            <div class="form-group row">
                <div class="col-lg-4">
                    <label class="sr-only" for="firstName">Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First name">
                </div>
                <div class="col-lg-6">
                    <label class="sr-only" for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-light sr-button mb-2">Learn more</button>
                </div>
            </div>
        </form>
    </div>
</section>
