<section id="sb-721" class="sb-721 padding-top-80 padding-bottom-80">
    <div class="container-fluid padding-right-40 padding-left-40">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Senate Bill No. 721</h2>
                <hr class="my-4">
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="col-lg-6 left-paragraph">
                <p>
                    California Senate Bill No. 721 was signed into law in September 2018 by Gov. Jerry
                    Brown. The bills aim is to increase the safety of wooden structures
                    and extremities like decks and balconies in multifamily residences.
                    </br>
                    </br>
                    The bill requires an inspection of exterior elevated elements and associated waterproofing
                    elements, including decks and balconies, for buildings with
                    3 or more multifamily dwelling units.
                    </br>
                    </br>
                    The inspections need to be carried out by one of the following:
                    <ul>
                        <li>A licensed architect</li>
                        <li>A licensed civil engineer</li>
                        <li>A building contractor holding specified licenses</li>
                        <li>An individual certified as a building inspector</li>
                        <li>A building official</li>
                    </ul>
                </p>
            </div>
            <div class="col-lg-6 right-paragraph">
                <p>
                    See the official legislative information for more details about SB-721
                    <a href="https://leginfo.legislature.ca.gov/faces/billTextClient.xhtml?bill_id=201720180SB721"
                        target="_blank">here</a>.
                    </br>
                    </br>
                    The bill requires the inspections, including any necessary testing, to be completed
                    by:
                    </br>
                    </br>
                    <div class="text-center text-primary">
                        <i class="fas fa-2x fa-calendar mb-3 sr-icon-1"></i>
                        <h3>January 1 2025</h3>
                    </div>
                    </br>
                    </br>
                    Following the inspection and a written report, the property owner will have 15
                    days to perform emergency repairs or 120 days to perform non-emergency
                    repairs. Subsequent inspections are required every 6 years.
                </p>
            </div>
        </div>
    </div>
</section>
